<div class="outerDiv">
  <div class="secondDiv">
    <div class="thirdDiv">
      <div class="header row">
        <div class="logo col-sm-6">
          <img src="./assets/images/logo.png">
        </div>
        <div class="info col-sm-6">
          <div>
            <span>Claims</span>
            <span>About</span>
            <span>Contact Us</span>
            <span>Login</span>
          </div>
        </div>
      </div>
      <h1 class="main-heading">Insurance that Works for You</h1>
      <label class="main-heading-label">Simple.Smart.Affordable</label>
      <div class="insuranceDiv row">
        <div class="col-sm-6 container">
          <div class="centered-div">
            <select>
              <option value="volvo">Select your brand</option>
              <option value="saab">Brand 1</option>
              <option value="opel">Brand 2</option>
              <option value="audi">Band 3</option>
            </select>
            <select>
              <option value="volvo">Select your model</option>
              <option value="saab">Model 1</option>
              <option value="opel">Model 2</option>
              <option value="audi">Model 3</option>
            </select>
            <select>
              <option value="volvo">When did you buy it?</option>
              <option value="saab">Year 1</option>
              <option value="opel">Year 2</option>
              <option value="audi">Year 3</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="./assets/images/LadyWithPhone.png" width="100%" height="100%">
        </div>
      </div>
      <div>
        <h1>It's Easier than You Think</h1>
        <div class="row imageRow">
          <div class="col-sm-4">
            <img src="./assets/images/DeviceGIF.png">
            <label>Tell us about your device</label>
          </div>
          <div class="col-sm-4">
            <img src="./assets/images/SelectGIF.png">
            <label>Select a personaspanzed plan</label>
          </div>
          <div class="col-sm-4">
            <img src="./assets/images/InsuredGIF.png">
            <label>Pay and get insured instantly</label>
          </div>
        </div>
      </div>
      <div class="footer row">
        <div class="col-sm-4 logo_green">
          <img src="./assets/images/logo_green.png">
          <div>&copy;Onsurity All Rights Reserved 2019</div>
        </div>
        <div class="col-sm-4">
          <div class="navigation">
            <label>Navigation</label>
            <div>About</div>
            <div>Products</div>
            <div>Claims</div>
            <div>Plans</div>
            <div>Terms of use</div>
            <div>Sitemap</div>
          </div>
          <div class="navigation">
            <!-- <br> -->
            <div>Brand Terms of Use</div>
            <div>Cookie Use</div>
            <div>Privacy Policy</div>
            <div>Support</div>
            <div>Login</div>
          </div>

        </div>
        <div class="col-sm-4 contact">
          <label>Contact</label>
          <div>info@onsurity.com</div>
          <div>+1234 234 2346</div>
        </div>
      </div>
    </div>
  </div>
</div>