.imageRow label,
.main-heading-label{
    font-size:14px;
    font-weight:600;
}
.imageRow img{
    max-width: 300px;
    max-height: 105px;
    width: auto;
    height: auto;
}
.thirdDiv{
    border:0.5px solid #8080804d;
    text-align:center;
}
.secondDiv{
    border:1px dashed #8080804d;
    padding:5px;
}
.outerDiv{
    border:1px dashed #8080804d;
    margin:20px 20% 20px 20%;
    padding:10px;
}
.footer{
    background-color: #435863;
    color:white;
    margin:0;
    padding:10px;
    margin-top:50px;
}
.footer img{
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    float:left;
    margin:10px;
}
.footer .col-sm-4>.navigation{
    width:50%;
    display: inline-block;
    text-align: left;
    font-size:12px;
}
.navigation>div,
.contact >div{
    font-weight:200;
    font-size:12px;
}
.footer label,
.contact label{
    font-weight:600;
    font-size:12px;
}
.logo_green{
    font-size:10px;
}
.logo_green>div{
    bottom:5px;
    position: absolute;
    margin-left:20px;
}
.logo img{
    max-width: 100px;
    max-height: 50px;
    width: auto;
    height: auto;
    float:left;
    margin:5px;
}

.info>div{
    float: right;
}
.info span{
    padding:5px;
    cursor: pointer;
    font-family: monospace;
}
.main-heading{
    font-family: serif;
    font-weight:800;
}
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centered-div{
    width: 100%;
    margin: 10px;
    padding:5px;
    border:1px solid #8080804d;
    box-shadow:0px 0px 5px 0px #888888;
    border-radius: 4px;
}
.centered-div> select{
    border-radius: 4px;
    border-color: #8080804d;
    width:300px;
    padding:5px;
    margin:8px;
}